.home {
    @include pegeTemplate(url(../assets/home/background-home-desktop.jpg));
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;

    .home-content{
        width: 90%;
        display: flex;
        justify-content: space-around;
        align-items: end;
    
        .brief{
            width: 50%;
            height: 50%;
            text-align: left;
            span, h1{
                text-transform: uppercase;
            }
            span{
                font-size: 1.5rem;
            }
            h1{
                font-size: 8rem;
                margin: 20px 0;
            }
            p{
                max-width: 400px;
                line-height: 25px;
            }
        }

        .explore{
            width: 200px;
            height: 200px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 1.5rem;
            background-color: #fff;
            color: #000;
            border-radius: 50%;
            transition: all .6s;
            &:hover{
                cursor: pointer;
                background-color: #000;
                color: #fff;
            }
        }
    }
}

