.chat-container {
    display: flex;
    flex-direction: column;
    height: 65%;
    width: 100%;
    padding-bottom: 20px;
    overflow-y: scroll;


    &::-webkit-scrollbar {
        width: 5px;               /* width of the entire scrollbar */
    }
      
    // &::-webkit-scrollbar-track {
    //     // background: orange;        /* color of the tracking area */
    // }
      
    &::-webkit-scrollbar-thumb {
        background-color: var(--light-gray);
        border-radius: 20px;
    }

    .replies-container{
       
        display: flex;
        flex-direction: column;
        position: relative;
        width: 90%;
        align-self: flex-end;
        &::before{
            content: '';
            border: 1px solid var(--grayish-Blue);
            position: absolute;
            left: -10px;
            top: 0;
            height: 100%

        }
    }
}