.header{
    padding: 20px 0 20px 20px;
    width: 100%;
    max-width: 1280px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;

    .nav-bar{
        width: 90%;
        display: flex;
        justify-content: end;
        padding: 20px 0 20px 50px;
        position: relative;
        text-transform: uppercase;
        &::after{
            content: '';
            position: absolute;
            width: 55%;
            border-bottom: 1px solid #ccc;
            top: 50%;
            left: 0;
        }
        ul{
            width: 50%;
            padding: 20px 50px;
            display: flex;
            gap: 30px;
            color: #fff;
            backdrop-filter: blur(20px);
            filter: brightness(1.2);
    
        }
    }
}
