.crew {
    @include pegeTemplate(url(../assets/crew/background-crew-desktop.jpg));
    color: #fff;
}

.crew-container{
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: end;
    
    .crew-description{
        width: 50%;
        text-transform: uppercase;
        text-align: left;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 450px;

        span{
            width: 100%;
            text-align: left;
            font-size: 1.3rem;
            
            &:before{
                content: '02';
                padding-right: 10px;
                color: #777676
            }
        }

        .crew-info{

            .crew-role{
                font-size: 1.8rem;
                margin-bottom: 15px;
            }
            .crew-name{
                font-size: 2.5rem;
                margin-bottom: 20px;
            }
            .crew-bio{
                text-transform: none;
                max-width: 400px;
            }
        }

        .carousel{
            display: flex;
            width: 100px;
            justify-content: space-between;
            margin-bottom: 70px;
            li{
                width: 15px;
                height: 15px;
                background-color: rgba(255,255,255, .3);
                border-radius: 50%;

            }
            .active-carousel{
                background-color: #fff;
            }
        }
    }
    .crew-image-container{
        width: 50%;
        display: flex;
        justify-content: end;
        img{
            width: 350px;
            max-height: 450px;
        }
    }
}